<div class="container">
  <h1 class="my-4">Profilo Insegnante</h1>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <div class="profile-image-border">
          <dx-gallery
            [dataSource]="[teacher.imageUrl]"
            [height]="200"
            [width]="200"
            [loop]="false"
            [showNavButtons]="false"
          ></dx-gallery>
        </div>
      </div>
      <h3 class="card-title">{{ user?.firstName }} {{ user?.lastName }}</h3>
      <dx-form [formData]="user" colCount="2">
        <dxi-item dataField="mail" caption="Email"></dxi-item>
        <dxi-item dataField="subjects" caption="Materie"></dxi-item>
      </dx-form>
      <dx-button
        *ngIf="isTeacher"
        class="btn btn-primary btn-sm"
        type="submit"
        (click)="addLesson()"
        >Aggiungi una lezione</dx-button
      >
    </div>
  </div>
</div>
