<dx-form id="form" [formData]="lesson">
  <dxi-item dataField="startTime" caption="Data Inizio" editorType="dxDateBox">
    <dxi-validation-rule
      type="required"
      message="Data Inizio è richiesta"
    ></dxi-validation-rule>
  </dxi-item>
  <dxi-item dataField="endTime" caption="Data Fine" editorType="dxDateBox">
    <dxi-validation-rule
      type="required"
      message="Data Fine è richiesta"
    ></dxi-validation-rule>
  </dxi-item>
  <dxi-item dataField="subject" caption="Materia"></dxi-item>
  <dxi-item dataField="notes" caption="Note"></dxi-item>
</dx-form>
<dx-button class="btn btn-primary" (click)="submitForm()">Submit</dx-button>
