.fa-star {
  color: black;
  margin-right: 5px;
  font-size: 1.2rem; /* dimensione delle stelle */
}

.stars-container {
  display: flex;
  font-size: 2rem; /* Aumenta ulteriormente la dimensione del font delle stelle */
}

.container:last-child {
  margin-bottom: 70px; /* o qualsiasi altro valore che ti sembra adeguato */
}
