<dx-form #form [formData]="user" labelLocation="top">
  <dxi-item dataField="email" [isRequired]="true">
    <dx-text-box
      placeholder="Email"
      (onValueChanged)="setEmail($event)"
    ></dx-text-box>
  </dxi-item>
  <dxi-item dataField="firstName" [isRequired]="true">
    <dx-text-box
      placeholder="Nome"
      (onValueChanged)="setFirstName($event)"
    ></dx-text-box>
  </dxi-item>
  <dxi-item dataField="lastName" [isRequired]="true">
    <dx-text-box
      placeholder="Cognome"
      (onValueChanged)="setLastName($event)"
    ></dx-text-box>
  </dxi-item>
  <dxi-item dataField="age" [isRequired]="true">
    <dx-text-box
      placeholder="Età"
      (onValueChanged)="setAge($event)"
    ></dx-text-box>
  </dxi-item>
  <dxi-item dataField="address" [isRequired]="true">
    <dx-text-box
      placeholder="Indirizzo"
      (onValueChanged)="setAddress($event)"
    ></dx-text-box>
  </dxi-item>
  <dxi-item dataField="password" [isRequired]="true">
    <dx-text-box
      mode="password"
      placeholder="Password"
      (onValueChanged)="setPassword($event)"
    ></dx-text-box>
  </dxi-item>
  <dxi-item dataField="confirmPassword" [isRequired]="true">
    <dx-text-box mode="password" placeholder="Confirm Password"></dx-text-box>
  </dxi-item>
  <dxi-item>
    <dx-button
      text="Register"
      type="success"
      [useSubmitBehavior]="true"
      (onClick)="onFormSubmit(form)"
    ></dx-button>
  </dxi-item>
  <dxi-item>
    <a routerLink="../">Already have an account? Log in</a>
  </dxi-item>
</dx-form>
