<dx-scheduler
  [dataSource]="lessons"
  [currentDate]="currentDate"
  [startDayHour]="7"
  [endDayHour]="20"
  (onAppointmentAdding)="onLessonAdding($event)"
  (onAppointmentUpdating)="onLessonUpdating($event)"
  (onAppointmentDeleting)="onLessonDeleting($event)"
  startDateExpr="startTime"
  endDateExpr="endTime"
  allDayExpr="AllDay"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
  textExpr="subject"
  descriptionExpr="notes"
  [height]="600"
  timeZone="Europe/Rome"
>
  <dxo-editing
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
  >
  </dxo-editing>
</dx-scheduler>

<div class="d-flex justify-content-end align-items-center mt-3 mb-3">
  <dx-button
    text="Visualizza griglia"
    width="200px"
    height="50px"
    (onClick)="toggleView()"
  ></dx-button>
</div>
