/* my-card-list.component.css */

.card .card-item {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card .card-item .text-center {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 18px;
}

.button-bar {
  display: flex;
  flex-direction: horizontal;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .dx-button {
    width: 100%;
    margin-bottom: 10px;
  }
  .button-bar {
    flex-direction: column;
  }
}

.card .card-item h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card .card-item p {
  color: #444; /* Colore del testo scurito per maggiore contrasto */
}

.button-bar {
  padding: 10px;
  border-radius: 5px;
}

.dx-button {
  background-color: #008080; /* Colore teal per i bottoni */
  color: #fff; /* Testo bianco */
  margin: 5px;
  transition: background-color 0.3s;
}

.dx-button:hover {
  background-color: #006666; /* Teal leggermente più scuro al passaggio del mouse */
}

.stars-container {
  display: flex;
  cursor: pointer;
}

.selected-star {
  color: black;
}

.dx-popup.custom-popup {
  border-color: #ced4da !important;
  border-width: 1px !important;
  border-radius: 0.25rem !important;
  width: fit-content !important;
  padding: 20px !important;
}

.dx-button.custom-button {
  width: 120px !important;
  margin-bottom: 10px !important;
}

.vote-label {
  margin-right: 15px;
}
