<!-- my-card-list.component.html -->
<dx-list [dataSource]="data" height="100%" class="my-card-list">
  <div *dxTemplate="let itemData of 'item'" class="my-card-list-item">
    <div class="d-flex justify-content-center mb-4">
      <div class="profile-image-border">
        <dx-gallery
          [dataSource]="[imageUrl]"
          [height]="200"
          [width]="200"
          [loop]="false"
          [showNavButtons]="false"
        ></dx-gallery>
      </div>
    </div>
    <div class="text-center border p-3">
      <h3>{{ itemData?.firstName }} {{ itemData?.lastName }}</h3>
      <h5>{{ itemData.subjects }}</h5>
      <p>
        <span class="font-weight-bold text-uppercase text-secondary">Email</span
        ><br /><span class="text-dark">{{ itemData?.mail }}</span>
      </p>
      <p>
        <span class="font-weight-bold text-uppercase text-secondary">Età</span
        ><br /><span class="text-dark">{{ itemData?.age }}</span>
      </p>
      <div class="d-flex justify-content-around mt-4" *ngIf="!isTeacher">
        <dx-button
          text="Prenota"
          type="default"
          [width]="160"
          [stylingMode]="'contained'"
          (onClick)="makeReservation(itemData)"
        ></dx-button>
        <dx-button
          text="Chiedi info"
          type="default"
          [width]="160"
          [stylingMode]="'contained'"
          (onClick)="openChat()"
        ></dx-button>
        <dx-button
          text="Recensisci"
          type="default"
          [width]="160"
          [stylingMode]="'contained'"
          (onClick)="openPopup(itemData)"
        ></dx-button>
      </div>
    </div>
  </div>
</dx-list>
