.chat-container {
  width: 85%;
  max-width: 1000px;
  height: 80vh;
  margin: 12vh auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.messages-container {
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 50px;
}

.sender,
.receiver {
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 60%;
  word-break: break-word;
  margin-bottom: 30px;
}

.sender {
  align-self: flex-start;
  background-color: #4caf50;
  color: white;
  border: 1px solid #388e3c;
}

.receiver {
  align-self: flex-end;
  background-color: #2196f3;
  color: white;
  border: 1px solid #1976d2;
}

.input-group {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.dx-button {
  width: auto;
}
