:host {
  padding: 30px;
}

dx-data-grid {
  width: 100%;
  max-width: 1200px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

h4 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  text-align: center;
}
